body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}
.nav-bar {
    width: 40%;
    margin: auto;
    padding: 0 20px;
    float:right;
}
nav ul li {
    list-style: none;
    margin:10px 20px;
    font-size: 17px;
    display: inline;
}
.info-bar {
    width: 42%;
    float: left;
    margin-left: 4%;
    padding-left: 3%;
}
.info-bar img {
    width: 80%;
    margin-top: 10%;
}
.col {
    color: #006266;
    margin-bottom: 3px;
}
#col-1 {
    color: #ff3f34;
    margin-top: 3px;
}
h1 {
    font-size: 60px;
}
p {
    font-size: 15px;
    color: #485460;
    margin-left: 60px;
    margin-bottom: 20px;
}
.txt-1 {
    margin-left: 10%;
    margin-top: 25%;
}
.button-click {
    margin-left: 60px;
    background-image: linear-gradient(#006266,#0a3d62);
    text-decoration: none;
    color:white;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 18px;
}
.col h2 {
    font-size: 35px;
    text-align: center;
    padding-right: 345px;
    padding-top: 80px;
}   
.info-bar p {
    padding-right: 120px;
    font-size: 20px;
    position: initial;
} 
section {
    height: 500px;
    padding-bottom: 100px;
}
h3 {
    font-size: 30px;
    text-align: center;
}
.work-color {
    color: #006266;
}
.latest-color {
    color: #ff3f34;
}
.img-box {
    float: left;
    width: 70%;
    display: flex;
    margin-left: 13%;
    padding-left:3%;
    padding-bottom: 2%;
}
.jym-box {
    box-shadow: 5px 5px 10px gray;
    margin: 1%;
    padding-bottom: 1%;
    padding: 10px;
    border-radius: 8px;
}
.jym-box h3 {
    font-size: 18px;
    float: left;
    margin: 5%;
}
.jym-box p {
    display: inline;
    margin: 3px;
}
.big-button {
    background-image: url("images/shapes/Group_33094_1.png");
    background-repeat: no-repeat;
    background-size: 800px 250px;
    padding: 50px;
    background-position: center;
}
.big-button ul li {
    display: inline-block;
}
.big-button ul li h3 {
    color: #fff;
    margin-left: 250px;
    font-size: 35px;
}
.big-button ul li a {
    margin-left: 300px;
    float: right;
    padding: 2px 15px;
}
.studio img {
    flex-basis: 50%;
    width: 30%;
    margin: auto;
    display:flex;
    border-radius: 15px;
}
.studio h3{ 
    font-size: 45px;
    margin: 20px;
    text-align: center;
    color: #ff3f34;
}
.studio p {
    font-size: 20px;
    text-align: center;
    margin: 30px;
}
.social-net {
    text-align: center;
    margin-left: 20px;
}
.social-net p {
    text-align: center;
    color: #006266;
    margin-right: 45px;
    font-size: 25px;
    padding-bottom: 15px;
}
.social-net img {
    width: 40px;
    padding: 12px;
    padding-bottom: 10%;
}
.social-net h5 {
    font-size: 20px;
    color: #485460;
}














